{%- assign ot_books = "ZPSOFpd27EeFQvrTZE296Q|VERPK2rYN0G44bo7LjBSRw|fA6zV4ON002oMPoVUZs17Q|vLsJo3GL1ECOQbSIEMUaig|WZ933xSw6kmo7644X9mmXw|68f2_zVlekaaIZD_BX0sZg|WffJH3t68kuVUyNZXYSFYw|xNlTF35s_UulA7S-NTgcAA|0y4PDhOc7kiw9hp0RwaJCg|59ysY5363EaVCG_g7fUH5A|aBlyuIzm206LTKx-uYIGnA|YoQKqdkrbUivAeUf3DISow|WOAq8A9bB0a8TKmYAB7IdA|TsxpRv1lrUiNNeGGfIx6XA|rJkq5d_MyUGPgACkMm0iTw|F_X9vUdpAUy957_qSejcnw|5jvC66CtG06zRlkKuP1naw|su8Qq5KUwEyoDmssUQhjHQ|FtVxmNkn_EavFJY3jqodfA|oToPYf8OQkCBsB6J65j3SA|rKzSJptZjU6YAOy6nIhfbw|K2lHyseO6UWdHftwLswhgg|rpThtWd1HUuSeyHLIs7gpw|CD8jYdoi0kGyXTbsD6F0aA|ttObDyRHnUudsSNUsdQ8BA|fi4ORg0B90C-DeQGTrOaMA|6AW2cZfbAkWX5HT4XEGjig|Pf6Gllf9gU-IF9xDcmWd0g|7cDaYscN6kmKsgwuiwPt9Q|WG_j96GOH0KzGORwKL8YVA|p7wi1sNiGUWhUa1tqRhS8Q|CgIcCoHtpUiCshdHe8wMoA|V1PTu4Xoq0eUnniYIb8Mkw|1h1LTN1XyU-qWIPHVY398A|t34QuaRN6kOWizvKNPtdSg|Tw5oe-kzfkiqCc6_4AVskQ|At7RBOfiN0aWMKln0Dkreg|JiUy9RgUZUOrjeMdBpln9g|hc7roSimX0mukJPTe6clWA|kTbX-fYdFk6TJ8Tikec-AQ" | split: "|" -%}
{%- assign nt_books = "Ksr4Dto97Um5NxhLpoRk5A|w-4_O87lYE-9_nrIXOuIHw|oJ_dgZir80mv2hat1rK4Qg|9QCQnNlevES8cYwHZWzrJw|DbkcRuTlnUyPXPPQso3L6g|CJZtcewtvUKqJH-rIUoR6g|xMRsXDsvDUiylTlFq6Tv-w|RmItBW75JUG7Iish-KRw1g|lKSYua82uE-YeMAzxqfrMg|Bopzxr31bkWJrFqO6o1oxg|KhiJGiHzvkiHXvkk9fEUOg|vFCY7egZskyaH-0jwDdQTQ|uxYuSzlDzU-AYGK-uo3RTg|VANy1bANREmh2DLujlaKGQ|CyO7saVd8kWHwzs3MaLe5w|71tayZrmnk6E8E-z8IWeIw|5H2xaOfutEyeZ755pY0mmA|uPHRl846Xk-SG-HEmITW-w|DF4Ub1Vqg0GSBIGWYJgCGw|-LfywKHkMEqRb1WVNSkcxg|AgO2o_kbG0GVTNVNT0233A|R6oXNiKgIkqjGhp-42inxg|WI1S5jo5-kOb5bgoNSb8Hg|MVsyPrQ8iUa_M6DJ4IR0CQ|6iDQYEk4yUa6B_-z49KYHA|MznlCejhZUqq_rxf4xrmwg|kG4B-4Pt6ECSxm14f3FWiA|T9GJpphYiUGYVgw7lmkmDA" | split: "|" -%}
{%- assign series_ids = "fpgE1kmfr0-xNBMbxUWxMA|FP7IiNghSEeZLBW21kkAgw|ca1OWFTvMU2H-lHpjsm5MQ|aK4djQBz_UCObjyPq5At_A" | split: "|" -%}
{%- assign series_details = "FP7IiNghSEeZLBW21kkAgw,Advent Readings,2019/advent-readings.html|aK4djQBz_UCObjyPq5At_A,Twisted Scripture,2017/twisted-scripture.html|ca1OWFTvMU2H-lHpjsm5MQ,The &ldquo;3:16&rdquo;s of the New Testament,2007/the-316s-of-the-new-testament.html" | split: "|" -%}
<div class="content">
  {%- if is_category or is_tag %}
    <h1 class="index-title">{{ page_title }}</h1>
    {%- if is_category %}
      {%- assign cat = categories | where: "slug", slug | first -%}
      {%- if cat.description %}<h2 class="index-title">{{ cat.description.value }}</h2>{% endif -%}
    {%- endif %}
  {%- endif %}
  {% for post in model.posts %}
    <article class="item">
      <h1 class="item-heading">
        <a href="{{ post.permalink | relative_link }}"
           title="Permanent Link to &ldquo;{{ post.title | strip_html | escape_once }}&rdquo;">
          {{ post.title }}
        </a>
      </h1>
      <p class="item-meta">
        <i class="fa fa-calendar" title="Date"></i> {{ post.published_on | date: "dddd, MMMM d, yyyy" }} &nbsp;
        {% comment %} TODO: reading time?
        #[i.fa.fa-clock-o(title='Clock' aria-hidden='true')] #[= readingTime(post.content, 'minutes', 175)]
        {% endcomment %}
      </p>
      {%- assign media = post.metadata | value: "episode_media_file" -%}
      {%- unless media == "-- episode_media_file not found --"  %}
        <aside class="podcast">
          <p class="text-center"><strong>Listen While<br>You Read</strong></p>
          <audio controls onplaying="awftw.countPlay('{{ media }}')">
            <source src="https://files.bitbadger.solutions/devotions/{{ media }}">
          </audio>
          <p class="text-center">
            <a class="dl" href="https://pdcst.click/c/awftw/files.bitbadger.solutions/devotions/{{ media }}" download>
              <i class="fa fa-download" title="Download Audio"></i>
            </a>
          </p>
        </aside>
      {%- endunless %}
      {{ post.text }}
    </article>
  {% endfor %}
  <nav aria-label="pagination">
    <div>{% if model.newer_link %}<a href="{{ model.newer_link.value }}">&#xab; Newer Posts</a>{% endif %}</div>
    <div>{% if model.older_link %}<a href="{{ model.older_link.value }}">Older Posts &#xbb;</a>{% endif %}</div>
  </nav>
</div>
<div class="sidebar">
  <div class="item">
    <h4 class="item-heading">Author</h4>
    <p>Daniel is a man who wants to be used of God however He sees fit.</p>
    <hr class="sidebar-sep">
    <ul>
      <li><a href="https://daniel.summershome.org/my-testimony">Daniel&rsquo;s Testimony</a></li>
      <li><a href="{{ "2007/about-daniels-weekly-devotions.html" | relative_link }}">About This Site</a></li>
    </ul>
  </div>
  <div class="item">
    <h4 class="item-heading">Series</h4>
    {%- for series in series_details %}
      {% assign parts = series | split: "," %}
      {% assign cat = categories | where: "id", parts[0] | first %}
      <h4 class="text-center">{{ cat.name }}</h4>
      <p class="text-center">
        <a href="{{ parts[2] | relative_link }}"
           title="About the series &ldquo;{{ cat.name | escape_once }}&rdquo; &bull; A Word from the Word">
          About the Series
        </a> &bull;
        <a href="{{ cat | category_link }}">Read All</a> <small class="count">({{ cat.post_count }})</small>
      </p>
      {% unless forloop.last %}<hr class="sidebar-sep">{% endunless %}
    {% endfor %}
  </div>
  <div class="item">
    <h4 class="item-heading">Books</h4>
    <p>Each devotion is categorized under the books of the Bible which are referenced within it.</p>
    <hr class="sidebar-sep">
    <h4 class="text-center">Old Testament</h4>
    <p class="text-center">
      {%- assign cat_id = ot_books | first -%}
      {%- assign cat = categories | where: "id", cat_id | first -%}
      <a href="{{ cat | category_link }}"
         {%- if cat.description %} title="{{ cat.description.value | escape_once }}"{% endif %}>
        See All
      </a> <small class="count">({{ cat.post_count }})</small>
    </p>
    <ul>
      {%- assign first_time = true -%}
      {% for cat_id in ot_books -%}
        {%- if first_time -%}
          {%- assign first_time = false -%}
        {%- else %}
          {%- assign cat = categories | where: "id", cat_id | first -%}
          <li>
            {% if cat.post_count == 0 -%}
              <span{% if cat.description %} title="{{ cat.description.value | escape_once }}"{% endif %}>
                {{ cat.name }}
              </span> <small class="count">(0)</small>
            {%- else -%}
              <a href="{{ cat | category_link }}"
                 {%- if cat.description %} title="{{ cat.description.value | escape_once }}"{% endif %}>
                {{ cat.name }}
              </a> <small class="count">({{ cat.post_count }})</small>
            {%- endif %}
          </li>
        {%- endif %}
      {%- endfor %}
    </ul>
    <hr class="sidebar-sep">
    <h4 class="text-center">New Testament</h4>
    <p class="text-center">
      {%- assign cat_id = nt_books | first -%}
      {%- assign cat = categories | where: "id", cat_id | first -%}
      <a href="{{ cat | category_link }}"
         {%- if cat.description %} title="{{ cat.description.value | escape_once }}"{% endif %}>
        See All
      </a> <small class="count">({{ cat.post_count }})</small>
    </p>
    <ul>
      {%- assign first_time = true -%}
      {%- for cat_id in nt_books -%}
        {%- if first_time -%}
          {%- assign first_time = false -%}
        {%- else %}
          {%- assign cat = categories | where: "id", cat_id | first -%}
          <li>
            {% if cat.post_count == 0 -%}
              <span{% if cat.description %} title="{{ cat.description.value | escape_once }}"{% endif %}>
                {{ cat.name }}
              </span> <small class="count">(0)</small>
            {%- else -%}
              <a href="{{ cat | category_link }}"
              {%- if cat.description %} title="{{ cat.description.value | escape_once }}"{% endif %}>
                {{ cat.name }}
              </a> <small class="count">({{ cat.post_count }})</small>
            {%- endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="item">
    <h4 class="item-heading">Topics</h4>
    <ul>
      {%- for cat in categories -%}
        {%- unless ot_books contains cat.id or nt_books contains cat.id or series_ids contains cat.id -%}
          <li>
            {%- for it in cat.parent_names %} &nbsp; {% endfor -%}
            <a href="{{ cat | category_link }}"
               {%- if cat.description %} title="{{ cat.description.value | escape_once }}"{% endif %}>
              {{ cat.name }}
            </a> <small class="count">({{ cat.post_count }})</small>
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
</div>
