<div class="form-floating pb-3">
  <input type=text name=Title id=title class=form-control placeholder=Title autofocus required
         value="{{ model.title }}">
  <label for=title>Title</label>
</div>
<div class="form-floating pb-3">
  <input type=text name=Permalink id=permalink class=form-control placeholder=Permalink required
         value="{{ model.permalink }}">
  <label for=permalink>Permalink</label>
  {%- unless model.is_new %}
    {%- assign entity_url_base = "admin/" | append: entity | append: "/" | append: entity_id -%}
    <span class=form-text>
      <a href="{{ entity_url_base | append: "/permalinks" | relative_link }}">Manage Permalinks</a>
      <span class=text-muted> &bull; </span>
      <a href="{{ entity_url_base | append: "/revisions" | relative_link }}">Manage Revisions</a>
      {% if model.chapter_source == "internal" %}
        <span id="chapterEditLink">
          <span class=text-muted> &bull; </span>
          <a href="{{ entity_url_base | append: "/chapters" | relative_link }}">Manage Chapters</a>
        </span>
      {% endif %}
    </span>
  {%- endunless -%}
</div>
<div class=mb-2>
  <label for=text>Text</label> &nbsp; &nbsp;
  <div class="btn-group btn-group-sm" role=group aria-label="Text format button group">
    <input type=radio name=Source id=source_html class=btn-check value=HTML
           {%- if model.source == "HTML" %} checked{% endif %}>
    <label class="btn btn-sm btn-outline-secondary" for=source_html>HTML</label>
    <input type=radio name=Source id=source_md class=btn-check value=Markdown
           {%- if model.source == "Markdown" %} checked{% endif %}>
    <label class="btn btn-sm btn-outline-secondary" for=source_md>Markdown</label>
  </div>
</div>
<div class=pb-3>
  <textarea name=Text id=text class=form-control rows=20>{{ model.text }}</textarea>
</div>
