<h2 class=my-3>{% if model.index < 0 %}Add{% else %}Edit{% endif %} Chapter</h2>
<form method=post hx-target=#chapter_list class=container>
  <input type=hidden name=PostId value="{{ model.post_id }}">
  <input type=hidden name=Index value={{ model.index }}>
  <div class=row>
    <div class="col">
      <div class=form-floating>
        <input type=text id=start_time name=StartTime class=form-control value="{{ model.start_time }}">
        <label for=start_time>Start Time</label>
      </div>
    </div>
    <div class="col">
      <div class=form-floating>
        <input type=text id=title name=Title class=form-control value="{{ model.title }}" placeholder=Title>
        <label for=title>Chapter Title</label>
      </div>
    </div>
  </div>
  <div class=row>
    <div class="col">
      <div class=form-floating>
        <input type=text id=image_url name=ImageUrl class=form-control value="{{ model.image_url }}"
               placeholder="Image URL">
        <label for=image_url>Image URL</label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-switch">
        <input type=checkbox id=is_hidden name=IsHidden class=form-check-input value=true
               {%- if model.is_hidden %} checked{% endif %}>
        <label for=is_hidden>Hidden Chapter</label>
      </div>
    </div>
    <div class="col">
      <div class=form-floating>
        <input type=text id=end_time name=EndTime class=form-control value="{{ model.end_time }}"
               placeholder="End Time">
        <label for=end_time>End Time</label>
      </div>
    </div>
  </div>
  <div class=row>
    <div class="col">
      <div class="form-check form-switch">
        <input type=checkbox id=has_location class=form-check-input value=true
               {%- if model.location_name != "" %} checked{% endif %}>
        <label for=has_location>Associate Location</label>
      </div>
    </div>
    <div class="col">
      <div class=form-floating>
        <input type=text id=location_name name=LocationName class=form-control value="{{ model.location_name }}"
               placeholder="Location Name">
        <label for=location_name>Name</label>
      </div>
    </div>
    <div class="col">
      <div class=form-floating>
        <input type=text id=location_geo name=LocationGeo class=form-control value="{{ model.location_geo }}"
               placeholder="Location Geo URL">
        <label for=location_geo>Geo URL</label>
      </div>
    </div>
    <div class="col">
      <div class=form-floating>
        <input type=text id=location_osm name=LocationOsm class=form-control value="{{ model.location_osm }}"
               placeholder="Location OSM Query">
        <label for=location_osm>OSM Query</label>
      </div>
    </div>
  </div>
  <div class=row>
    <div class=col>
      {% if model.index < 0 -%}
        <button type=submit class="btn btn-primary">Add + New Chapter</button>
        <button type=button class="btn btn-secondary">Save</button>
      {% else -%}
        <button type=submit class="btn btn-primary">Save</button>
      {% endif %}
      {% assign cancel_link = "admin/post/" | append: model.post_id | append: "/chapters" | relative_link %}
      <a href="{{ cancel_link }}" hx-get="{{ cancel_link }}" class="btn btn-secondary" hx-target=body>Cancel</a>
    </div>
  </div>
</form>
