<h2 class="my-3">{{ page_title }}</h2>
<article>
  <form action="{{ "admin/my-info" | relative_link }}" method="post">
    <input type="hidden" name="{{ csrf.form_field_name }}" value="{{ csrf.request_token }}">
    <div class="d-flex flex-row flex-wrap justify-content-around">
      <div class="text-center mb-3 lh-sm">
        <strong class="text-decoration-underline">Access Level</strong><br>{{ access_level }}
      </div>
      <div class="text-center mb-3 lh-sm">
        <strong class="text-decoration-underline">Created</strong><br>{{ created_on | date: "MMMM d, yyyy" }}
      </div>
      <div class="text-center mb-3 lh-sm">
        <strong class="text-decoration-underline">Last Log On</strong><br>
        {{ last_seen_on | date: "MMMM d, yyyy" }} at {{ last_seen_on | date: "h:mmtt" | downcase }}
      </div>
    </div>
    <div class="container">
      <div class="row"><div class="col"><hr class="mt-0"></div></div>
      <div class="row mb-3">
        <div class="col-12 col-md-6 col-lg-4 pb-3">
          <div class="form-floating">
            <input type="text" name="FirstName" id="firstName" class="form-control" autofocus required
                   placeholder="First" value="{{ model.first_name }}">
            <label for="firstName">First Name</label>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pb-3">
          <div class="form-floating">
            <input type="text" name="LastName" id="lastName" class="form-control" required
                   placeholder="Last" value="{{ model.last_name }}">
            <label for="lastName">Last Name</label>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pb-3">
          <div class="form-floating">
            <input type="text" name="PreferredName" id="preferredName" class="form-control" required
                   placeholder="Preferred" value="{{ model.preferred_name }}">
            <label for="preferredName">Preferred Name</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <fieldset class="p-2">
            <legend class="ps-1">Change Password</legend>
            <div class="row">
              <div class="col">
                <p class="form-text">Optional; leave blank to keep your current password</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 pb-3">
                <div class="form-floating">
                  <input type="password" name="NewPassword" id="newPassword" class="form-control"
                         placeholder="Password">
                  <label for="newPassword">New Password</label>
                </div>
              </div>
              <div class="col-12 col-md-6 pb-3">
                <div class="form-floating">
                  <input type="password" name="NewPasswordConfirm" id="newPasswordConfirm" class="form-control"
                         placeholder="Confirm">
                  <label for="newPasswordConfirm">Confirm New Password</label>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col text-center mb-3">
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </div>
    </div>
  </form>
</article>
