<h2 class="my-3">{{ web_log.name }} Settings</h2>
<article>
  <p class="text-muted">
    Other Settings: <a href="{{ "admin/settings/tag-mappings" | relative_link }}">Tag Mappings</a> &bull;
    <a href="{{ "admin/settings/rss" | relative_link }}">RSS Settings</a>
  </p>
  <fieldset class="container mb-3">
    <legend>Web Log Settings</legend>
    <div class="row">
      <div class="col">
        <form action="{{ "admin/settings" | relative_link }}" method="post">
          <input type="hidden" name="{{ csrf.form_field_name }}" value="{{ csrf.request_token }}">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-6 col-xl-4 pb-3">
                <div class="form-floating">
                  <input type="text" name="Name" id="name" class="form-control" placeholder="Name" required autofocus
                         value="{{ model.name }}">
                  <label for="name">Name</label>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-4 pb-3">
                <div class="form-floating">
                  <input type="text" name="Slug" id="slug" class="form-control" placeholder="Slug" required
                         value="{{ model.slug }}">
                  <label for="slug">Slug</label>
                  <span class="form-text">
                    <span class="badge rounded-pill bg-warning text-dark">WARNING</span> changing this value may break
                    links
                    (<a href="https://bitbadger.solutions/open-source/myweblog/configuring.html#blog-settings"
                        target="_blank">more</a>)
                  </span>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-4 pb-3">
                <div class="form-floating">
                  <input type="text" name="Subtitle" id="subtitle" class="form-control" placeholder="Subtitle"
                         value="{{ model.subtitle }}">
                  <label for="subtitle">Subtitle</label>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-4 offset-xl-1 pb-3">
                <div class="form-floating">
                  <select name="ThemeId" id="themeId" class="form-control" required>
                    {% for theme in themes -%}
                      <option value="{{ theme[0] }}"{% if model.theme_id == theme[0] %} selected="selected"{% endif %}>
                        {{ theme[1] }}
                      </option>
                    {%- endfor %}
                  </select>
                  <label for="themeId">Theme</label>
                </div>
              </div>
              <div class="col-12 col-md-6 offset-md-1 col-xl-4 offset-xl-0 pb-3">
                <div class="form-floating">
                  <select name="DefaultPage" id="defaultPage" class="form-control" required>
                    {% for pg in pages -%}
                      <option value="{{ pg[0] }}"
                      {%- if pg[0] == model.default_page  %} selected="selected"{% endif %}>
                        {{ pg[1] }}
                      </option>
                    {%- endfor %}
                  </select>
                  <label for="defaultPage">Default Page</label>
                </div>
              </div>
              <div class="col-12 col-md-4 col-xl-2 pb-3">
                <div class="form-floating">
                  <input type="number" name="PostsPerPage" id="postsPerPage" class="form-control" min="0" max="50"
                         required value="{{ model.posts_per_page }}">
                  <label for="postsPerPage">Posts per Page</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4 col-xl-3 offset-xl-2 pb-3">
                <div class="form-floating">
                  <input type="text" name="TimeZone" id="timeZone" class="form-control" placeholder="Time Zone" required
                         value="{{ model.time_zone }}">
                  <label for="timeZone">Time Zone</label>
                </div>
              </div>
              <div class="col-12 col-md-4 col-xl-2">
                <div class="form-check form-switch">
                  <input type="checkbox" name="AutoHtmx" id="autoHtmx" class="form-check-input" value="true"
                      {%- if model.auto_htmx %} checked="checked"{% endif %}>
                  <label for="autoHtmx" class="form-check-label">Auto-Load htmx</label>
                </div>
                <span class="form-text fst-italic">
                  <a href="https://htmx.org" target="_blank" rel="noopener">What is this?</a>
                </span>
              </div>
              <div class="col-12 col-md-4 col-xl-3 pb-3">
                <div class="form-floating">
                  <select name="Uploads" id="uploads" class="form-control">
                    {%- for it in upload_values %}
                      <option value="{{ it[0] }}"
                              {%- if model.uploads == it[0] %} selected{% endif %}>{{ it[1] }}</option>
                    {%- endfor %}
                  </select>
                  <label for="uploads">Default Upload Destination</label>
                </div>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col text-center">
                <button type="submit" class="btn btn-primary">Save Changes</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </fieldset>
  <fieldset class="container mb-3 pb-0">
    <legend>Users</legend>
    <div class="row">
      <div class="col">
        {% include_template "_user-list-columns" %}
        <a href="{{ "admin/settings/user/new/edit" | relative_link }}" class="btn btn-primary btn-sm mb-3"
           hx-target="#user_new">
          Add a New User
        </a>
        <div class="container g-0">
          <div class="row mwl-table-heading">
            <div class="{{ user_col }}">User<span class="d-md-none">; Full Name / E-mail; Last Log On</span></div>
            <div class="{{ email_col }} d-none d-md-inline-block">Full Name / E-mail</div>
            <div class="{{ cre8_col }}">Created</div>
            <div class="{{ last_col }} d-none d-md-block">Last Log On</div>
          </div>
        </div>
        {{ user_list }}
      </div>
    </div>
  </fieldset>
</article>
