<form method="post" id="themeList" class="container g-0" hx-target="this" hx-swap="outerHTML show:window:top">
  <input type="hidden" name="{{ csrf.form_field_name }}" value="{{ csrf.request_token }}">
  {% include_template "_theme-list-columns" %}
  {% for theme in themes -%}
    <div class="row mwl-table-detail" id="theme_{{ theme.id }}">
      <div class="{{ theme_col }} no-wrap">
        {{ theme.name }}
        {%- if theme.is_in_use %}
          <span class="badge bg-primary ms-2">IN USE</span>
        {%- endif %}
        {%- unless theme.is_on_disk %}
          <span class="badge bg-warning text-dark ms-2">NOT ON DISK</span>
        {%- endunless %}<br>
        <small>
          <span class="text-muted">v{{ theme.version }}</span>
          {% unless theme.is_in_use or theme.id == "default" %}
            <span class="text-muted"> &bull; </span>
            {%- assign theme_del_link = "admin/theme/" | append: theme.id | append: "/delete" | relative_link -%}
            <a href="{{ theme_del_link }}" hx-post="{{ theme_del_link }}" class="text-danger"
               hx-confirm="Are you sure you want to delete the theme &ldquo;{{ theme.name }}&rdquo;? This action cannot be undone.">
              Delete
            </a>
          {% endunless %}
          <span class="d-md-none text-muted">
            <br>Slug: {{ theme.id }} &bull; {{ theme.template_count }} Templates
          </span>
        </small>
      </div>
      <div class="{{ slug_col }}">{{ theme.id }}</div>
      <div class="{{ tmpl_col }}">{{ theme.template_count }}</div>
    </div>
  {%- endfor %}
</form>
