<h2 class="my-3">{{ page_title }}</h2>
<article>
  <a href="{{ "admin/theme/upload" | relative_link }}" class="btn btn-primary btn-sm mb-3"
     hx-target="#theme_new">
    Upload a New Theme
  </a>
  <div class="container">
    {% include_template "_theme-list-columns" %}
    <div class="row mwl-table-heading">
      <div class="{{ theme_col }}">Theme</div>
      <div class="{{ slug_col }} d-none d-md-inline-block">Slug</div>
      <div class="{{ tmpl_col }} d-none d-md-inline-block">Templates</div>
    </div>
  </div>
  {{ theme_list }}
</article>
