<form method="post" id="userList" class="container" hx-target="this" hx-swap="outerHTML show:window:top">
  <input type="hidden" name="{{ csrf.form_field_name }}" value="{{ csrf.request_token }}">
  <div class="row mwl-table-detail" id="user_new"></div>
  {%- assign user_col  = "col-12 col-md-4 col-xl-3" -%}
  {%- assign email_col = "col-12 col-md-4 col-xl-4" -%}
  {%- assign cre8_col  = "d-none d-xl-block col-xl-2" -%}
  {%- assign last_col  = "col-12 col-md-4 col-xl-3" -%}
  {%- assign badge     = "ms-2 badge bg" -%}
  {% for user in users -%}
    <div class="row mwl-table-detail" id="user_{{ user.id }}">
      <div class="{{ user_col }} no-wrap">
        {{ user.preferred_name }}
        {%- if user.access_level == "Administrator" %}
          <span class="{{ badge }}-success">ADMINISTRATOR</span>
        {%- elsif user.access_level == "WebLogAdmin" %}
          <span class="{{ badge }}-primary">WEB LOG ADMIN</span>
        {%- elsif user.access_level == "Editor" %}
          <span class="{{ badge }}-secondary">EDITOR</span>
        {%- elsif user.access_level == "Author" %}
          <span class="{{ badge }}-dark">AUTHOR</span>
        {%- endif %}<br>
        {%- unless is_administrator == false and user.access_level == "Administrator" %}
          <small>
            {%- assign user_url_base = "admin/user/" | append: user.id -%}
            <a href="{{ user_url_base | append: "/edit" | relative_link }}" hx-target="#user_{{ user.id }}"
               hx-swap="innerHTML show:#user_{{ user.id }}:top">
              Edit
            </a>
            {% unless user_id == user.id %}
              <span class="text-muted"> &bull; </span>
              {%- assign user_del_link = user_url_base | append: "/delete" | relative_link -%}
              <a href="{{ user_del_link }}" hx-post="{{ user_del_link }}" class="text-danger"
                 hx-confirm="Are you sure you want to delete the user &ldquo;{{ user.preferred_name }}&rdquo;? This action cannot be undone. (This action will not succeed if the user has authored any posts or pages.)">
                Delete
              </a>
            {% endunless %}
          </small>
        {%- endunless %}
      </div>
      <div class="{{ email_col }}">
        {{ user.first_name }} {{ user.last_name }}<br>
        <small class="text-muted">
          {{ user.email }}
          {%- unless user.url == "" %}<br>{{ user.url }}{% endunless %}
        </small>
      </div>
      <div class="{{ cre8_col }}">
        {{ user.created_on | date: "MMMM d, yyyy" }}
      </div>
      <div class="{{ last_col }}">
        {% if user.last_seen_on %}
          {{ user.last_seen_on | date: "MMMM d, yyyy" }} at
          {{ user.last_seen_on | date: "h:mmtt" | downcase }}
        {% else %}
          --
        {% endif %}
      </div>
    </div>
  {%- endfor %}
</form>
