<h2 class="my-3">{{ page_title }}</h2>
<article>
  <a href="{{ "admin/user/new/edit" | relative_link }}" class="btn btn-primary btn-sm mb-3"
     hx-target="#user_new">
    Add a New User
  </a>
  <div class="container">
    {%- assign user_col  = "col-12 col-md-4 col-xl-3" -%}
    {%- assign email_col = "col-12 col-md-4 col-xl-4" -%}
    {%- assign cre8_col  = "d-none d-xl-block col-xl-2" -%}
    {%- assign last_col  = "col-12 col-md-4 col-xl-3" -%}
    <div class="row mwl-table-heading">
      <div class="{{ user_col }}">User<span class="d-md-none">; Details; Last Log On</span></div>
      <div class="{{ email_col }} d-none d-md-inline-block">Details</div>
      <div class="{{ cre8_col }}">Created</div>
      <div class="{{ last_col }} d-none d-md-block">Last Log On</div>
    </div>
  </div>
  {{ user_list }}
</article>
