<h2 class="my-3">{{ page_title }}</h2>
<article class="container">
  <a href="/admin/category/new/edit" class="btn btn-primary btn-sm mb-3">Add a New Category</a>
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for cat in categories -%}
        <tr>
          <td class="no-wrap">
            {%- if cat.parent_names %}
              <small class="text-muted">{% for name in cat.parent_names %}{{ name }} &rang; {% endfor %}</small>
            {%- endif %}
            {{ cat.name }}<br>
            <small>
            {%- if cat.post_count > 0 %}
              <a href="{{ cat | category_link }}" target="_blank">
                View {{ cat.post_count }} Post{% unless cat.post_count == 1 %}s{% endunless -%}
              </a>
              <span class="text-muted"> &bull; </span>
            {%- endif %}
              <a href="/admin/category/{{ cat.id }}/edit">Edit</a>
              <span class="text-muted"> &bull; </span>
              <a href="/admin/category/{{ cat.id }}/delete" class="text-danger"
                 onclick="return Admin.deleteCategory('{{ cat.id }}', '{{ cat.name }}')">
                Delete
              </a>
            </small>
          </td>
          <td>
            {%- if cat.description %}{{ cat.description.value }}{% else %}<em class="text-muted">none</em>{% endif %}
          </td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>
  <form method="post" id="deleteForm">
    <input type="hidden" name="{{ csrf.form_field_name }}" value="{{ csrf.request_token }}">
  </form>
</article>
