<h2 class="my-3">{{ web_log.name }} &bull; Dashboard</h2>
<article class="container">
  <div class="row">
    <section class="col-lg-5 offset-lg-1 col-xl-4 offset-xl-2 pb-3">
      <div class="card">
        <header class="card-header text-white bg-primary">Posts</header>
        <div class="card-body">
          <h6 class="card-subtitle text-muted pb-3">
            Published <span class="badge rounded-pill bg-secondary">{{ model.posts }}</span>
            &nbsp; Drafts <span class="badge rounded-pill bg-secondary">{{ model.drafts }}</span>
          </h6>
          <a href="/admin/posts" class="btn btn-secondary me-2">View All</a>
          <a href="/admin/post/new/edit" class="btn btn-primary">Write a New Post</a>
        </div>
      </div>
    </section>
    <section class="col-lg-5 col-xl-4 pb-3">
      <div class="card">
        <header class="card-header text-white bg-primary">Pages</header>
        <div class="card-body">
          <h6 class="card-subtitle text-muted pb-3">
            All <span class="badge rounded-pill bg-secondary">{{ model.pages }}</span>
            &nbsp; Shown in Page List <span class="badge rounded-pill bg-secondary">{{ model.listed_pages }}</span>
          </h6>
          <a href="/admin/pages" class="btn btn-secondary me-2">View All</a>
          <a href="/admin/page/new/edit" class="btn btn-primary">Create a New Page</a>
        </div>
      </div>
    </section>
  </div>
  <div class="row">
    <section class="col-lg-5 offset-lg-1 col-xl-4 offset-xl-2 pb-3">
      <div class="card">
        <header class="card-header text-white bg-secondary">Categories</header>
        <div class="card-body">
          <h6 class="card-subtitle text-muted pb-3">
            All <span class="badge rounded-pill bg-secondary">{{ model.categories }}</span>
            &nbsp; Top Level <span class="badge rounded-pill bg-secondary">{{ model.top_level_categories }}</span>
          </h6>
          <a href="/admin/categories" class="btn btn-secondary me-2">View All</a>
          <a href="/admin/category/new/edit" class="btn btn-secondary">Add a New Category</a>
        </div>
      </div>
    </section>
  </div>
  <div class="row pb-3">
    <div class="col text-end">
      <a href="/admin/settings" class="btn btn-secondary">Modify Settings</a>
    </div>
  </div>
</article>
