<h2 class="my-3">{{ page_title }}</h2>
<article>
  <form action="{{ "admin/settings/rss" | relative_link }}" method="post">
    <input type="hidden" name="{{ csrf.form_field_name }}" value="{{ csrf.request_token }}">
    <div class="container">
      <div class="row pb-3">
        <div class="col col-xl-8 offset-xl-2">
          <fieldset class="d-flex justify-content-evenly flex-row">
            <legend>Feeds Enabled</legend>
            <div class="form-check form-switch pb-2">
              <input type="checkbox" name="feedEnabled" id="feedEnabled" class="form-check-input" value="true"
                     {% if model.feed_enabled %}checked="checked"{% endif %}>
              <label for="feedEnabled" class="form-check-label">All Posts</label>
            </div>
            <div class="form-check form-switch pb-2">
              <input type="checkbox" name="categoryEnabled" id="categoryEnabled" class="form-check-input" value="true"
                     {% if model.category_enabled %}checked="checked"{% endif %}>
              <label for="categoryEnabled" class="form-check-label">Posts by Category</label>
            </div>
            <div class="form-check form-switch pb-2">
              <input type="checkbox" name="tagEnabled" id="tagEnabled" class="form-check-input" value="true"
                     {% if model.tag_enabled %}checked="checked"{% endif %}>
              <label for="tagEnabled" class="form-check-label">Posts by Tag</label>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3 col-xl-2 offset-xl-2 pb-3">
          <div class="form-floating">
            <input type="text" name="feedName" id="feedName" class="form-control" placeholder="Feed File Name"
                   value="{{ model.feed_name }}">
            <label for="feedName">Feed File Name</label>
            <span class="form-text">Default is <code>feed.xml</code></span>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-2 pb-3">
          <div class="form-floating">
            <input type="number" name="itemsInFeed" id="itemsInFeed" class="form-control" min="0"
                   placeholder="Items in Feed" required value="{{ model.items_in_feed }}">
            <label for="itemsInFeed">Items in Feed</label>
            <span class="form-text">Set to &ldquo;0&rdquo; to use &ldquo;Posts per Page&rdquo; setting ({{ web_log.posts_per_page }})</span>
          </div>
        </div>
        <div class="col-12 col-md-5 col-xl-4 pb-3">
          <div class="form-floating">
            <input type="text" name="copyright" id="copyright" class="form-control" placeholder="Copyright String"
                   {% if model.copyright %}value="{{ model.copyright.value }}"{% endif %}>
            <label for="copyright">Copyright String</label>
            <span class="form-text">
              Can be a
              <a href="https://creativecommons.org/share-your-work/" target="_blank" rel="noopener">
                Creative Commons license string
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col text-center">
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </div>
    </div>
  </form>
  <h3>Custom Feeds</h3>
  <a class="btn btn-sm btn-secondary" href="{{ 'admin/rss/new/edit' | relative_link }}">Add a New Custom Feed</a>
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">Source</th>
        <th scope="col">Path</th>
        <th scope="col">Podcast?</th>
      </tr>
    </thead>
    <tbody>
      {%- assign feed_count = model.custom_feeds | size -%}
      {% if feed_count > 0 %}
        {% for feed in model.custom_feeds %}
          <tr>
            <td>
              {{ feed.source }}
              <!-- TODO: view / edit / delete -->
            </td>
            <td>{{ feed.path }}</td>
            <td>{% if feed.is_podcast %}Yes{% else %}No{% endif %}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3" class="text-muted fst-italic text-center">No custom feeds defined</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</article>
