@{
    Layout = "_Layout";
    ViewBag.Title = "All Solutions";

    var data = await SolutionInfo.GetAll();
    var active = data.Where(it => it.IsActive && it.LinkToAboutPage).OrderBy(it => it.Slug);
    var inactive = data.Where(it => !it.IsActive && it.LinkToAboutPage).OrderBy(it => it.Slug);
}
<article class="content auto">
  <h1>All Solutions</h1>
  <h2>Active Solutions</h2>
  @foreach (var sln in active)
  {
    <p>
      <span class="app-name">@sln.Name</span> ~ <a href="~/solutions/@(sln.Slug).html">About</a>
      @if (sln.IsActive)
      {
        <text>~ </text><a href="@sln.Url" target="_blank">Visit</a>
      }
      else if (sln.LinkToArchive ?? false)
      {
        <text>~ </text><a href="@sln.ArchiveUrl" target="_blank">Visit</a> <em>(archive)</em>
      }
      <br>@Html.Raw(sln.Summary)
    </p>
  }
  <h2>Past Solutions</h2>
  @foreach (var sln in inactive)
  {
    <p>
      <span class="app-name">@sln.Name</span> ~ <a href="~/solutions/@(sln.Slug).html">About</a>
      @if (sln.IsActive)
      {
        <text>~ </text><a href="@sln.Url" target="_blank">Visit</a>
      }
      else if (sln.LinkToArchive ?? false)
      {
        <text>~ </text><a href="@sln.ArchiveUrl" target="_blank">Visit</a> <em>(archive)</em>
      }
      <br>@Html.Raw(sln.Summary)
    </p>
  }
</article>
