<article class="content auto">
  {%- assign parts = page.title | split: ' » ' -%}
  {%- assign parts_count = parts | size -%}
  {% if parts_count == 1 -%}
    <h1>{{ page.title }}</h1>
  {%- else -%}
    <h1><small><small>{{ parts[0] }}</small></small><br>{{ parts[1] }}</h1>
  {%- endif %}
  {{ page.text }}
  {% if parts_count > 1 -%}
    {%- assign project = parts[0] | downcase | replace: '\.', '-' -%}
    {%- capture project_url %}open-source/{{ project }}/{% endcapture -%}
    {% comment %}{{ project_url | relative_link }}{% endcomment %}
    <p><br><a href="." title="{{ parts[0] }} Home">&laquo; {{ parts[0] }} Home</a></p>
  {%- endif %}
  {% if logged_on -%}
    <p><small><a href="{{ page | edit_page_link }}">Edit This Page</a></small></p>
  {%- endif %}
</article>
