<article class="content auto">
  {%- assign parts = page.title | split: ' » ' -%}
  {%- assign parts_count = parts | size -%}
  <h1 class="project-title">  
    {% if parts_count == 1 -%}
      {{ page.title }}<br>
      <small><small>
        <a href="https://github.com/bit-badger/{{ page.title }}" target="_blank" rel="noopener"
           title="{{ parts[0] }} on GitHub">
          View on GitHub
        </a>
        {% if logged_on %} &bull; <a hx-boost="false" href="{{ page | edit_page_link }}">Edit Page</a>{% endif %}
      </small></small>
    {%- else -%}
      <small><small>
        <a href="." title="{{ parts[0] }} Home">{{ parts[0] }}</a>
        {% if logged_on %} &bull; <a hx-boost="false" href="{{ page | edit_page_link }}">Edit</a>{% endif %}
      </small></small>
      <br>
      {{ parts[1] }}
    {%- endif %}
  </h1>
  {{ page.text }}
  {% if parts_count > 1 -%}
    <p class="project-footer">
      <a href="." title="{{ parts[0] }} Home">&laquo; {{ parts[0] }} Home</a>
      <a href="https://github.com/bit-badger/{{ parts[0] }}" target="_blank" rel="noopener"
         title="{{ parts[0] }} on GitHub">
        View GitHub Repo
      </a>
    </p>
  {%- endif %}
</article>
