<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {%- if is_home -%}
        {{ web_log.name }}{% if web_log.subtitle %} | {{ web_log.subtitle.value }}{% endif %}
      {%- else -%}
        {{ page_title | strip_html }}{% if page_title and page_title != "" %} &raquo; {% endif %}{{ web_log.name }}
      {%- endif -%}
    </title>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Quicksand|Oswald" as="style">
    <link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" as="style">
    <link rel="preload" href="{{ "style.css" | theme_asset }}" as="style">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="{{ "djs.js" | theme_asset }}"></script>
    {% page_head -%}
  </head>
  <body hx-boost="true" hx-target="main" hx-indicator="#loadOverlay" hx-swap="innerHTML show:body:top">
    <nav class="site-header" role="navigation">
      <p><a class="nav-home" href="{{ "" | relative_link }}">{{ web_log.name }}</a></p>
      {%- if web_log.subtitle %}<p>{{ web_log.subtitle.value }}</p>{% endif -%}
      <p class="nav-spacer"></p>
      {%- for page in page_list %}
        <p class="desktop"><a href="{{ page | relative_link }}">{{ page.title }}</a></p>
      {%- endfor %}
      <p class="desktop">
        <a href="https://devotions.summershome.org" target="_blank" rel="noopener">A Word from the Word</a>
      </p>
      <p class="mobile"><a href="#links">Site Links</a></p>
    </nav>
    <div class="load-overlay" id="loadOverlay"><h1>Loading...</h1></div>
    <main>{{ content }}</main>
    <footer class="part-1" id="links">
      {%- for page in page_list %}
        <p class="mobile"><a href="{{ page | relative_link }}">{{ page.title }}</a></p>
      {%- endfor %}
      <p class="mobile">
        <a href="https://devotions.summershome.org" target="_blank" rel="noopener">A Word from the Word</a>
      </p>
    </footer>
    <footer class="part-2">
      <div>
        <div class="item">
          <h4 class="item-heading">Tip Jar</h4>
          <div class="text-center">
            <p style="padding: 5px 0;">What do we holler?<br>&ldquo;Thanks for the dollar!&rdquo;</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="encrypted"
                     value="-----BEGIN PKCS7-----MIIHXwYJKoZIhvcNAQcEoIIHUDCCB0wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCdeo4jz/VlsdAgHXG/9uV7zVyd+OWxLhPx/nGdCcANMelbjAUPFj7a9/cisuUG0hyH//qJWdOptVIjKrWrcyC6fNZxqPezHfmw7oNogLmMpVmpT771cGD4YkrB/okzs8KyDBGxJ/HW9kXXoQtZXFmz/Pu9Z9XQSAtFw5e4qmoF/DELMAkGBSsOAwIaBQAwgdwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIJlQtvH21m3CAgbhQUNrfjKQIQuNDYkPZH7BUhnjpmratPAdk18397qsJ7y/loyL64E8u8G8AHo6T+uA+ANibr5h2EypKbcYaFQKjBg1o/jdDcRaznIySw6d8uzOZMS4U/lSeaWKH3I5H2LYzfBO9upEhnBDJt5Hxns1rSKnkC+WOrfdJJdgSTXIsiVKfarXRQnm+AeFeXlgiwAv+2S3K+SgGZuEeDxsgMpo2lyYFJmE1xcjMeHtCU9P6lum8VCKEpXaMoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTIwNjE1MDA1MjMxWjAjBgkqhkiG9w0BCQQxFgQUe9ggMne5iX9doWN/3fDOuOmLgPswDQYJKoZIhvcNAQEBBQAEgYAphf2/hGBj64tOF4Q25S7rf2e7VO6aUHmT7oimydTWVKg3tWK0avKTuG6OS5GMw8gVv2GSrqHLz4KPBdjEDKu3y2WwrfNYaMKeQU1eRPquE4C+f6xcEf5RxqelUHoPUjiU46grnu51MPl+jQf3PERmbkK3N0hOax8QBx+N7gR1mQ==-----END PKCS7-----">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" style="border:0;"
                     name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" style="border:0;" width="1"
                   height="1">
            </form>
          </div>
        </div>
        <div class="item">
          <h4 class="item-heading">Let&rsquo;s Go Geocaching</h4>
          <div class="text-center">
            <a href="https://www.geocaching.com/guide/" title="What Is Geocaching?" target="_blank" rel="noopener">
              <img src="https://img.geocaching.com/stats/img.aspx?txt=I+am+the+search+engine!&uid=61a3c13b-9dbb-41d2-a695-9e3432d4d5ea"
                   alt="My Geocaching Stats" title="What Is Geocaching?" style="border:0;">
            </a>
          </div>
        </div>
      </div>
      <div>
        <div class="item">
          <h4 class="item-heading">Tennessee Football</h4>
          <div class="football-panel">
            <span>
              <a href="https://utsports.com" style="background:none;padding:0;" target="_blank" rel="noopener">
                <img src="{{ "tennessee.png" | theme_asset }}" alt="T" title="Tennessee Sports" style="border:0;"
                     width="75px">
              </a>
            </span>
            <div>
              2021 Season &mdash; <strong>NR</strong><br>
              <small>
                (7-6 &bull; 4-4 SEC/3<sup>rd</sup> East)<br><br>
                Last &mdash; L* (45-48) vs. Purdue<br>
                <em>Music City Bowl</em>
              </small>
            </div>
          </div>
        </div>
        <div class="item">
          <h4 class="item-heading">Colorado State Football</h4>
          <div class="football-panel">
            <span>
              <a href="https://csurams.com" style="background:none;padding:0;" target="_blank" rel="noopener">
                <img src="{{ "csurams.png" | theme_asset }}" alt="CSU Rams Logo"
                     title="Colorado State Sports" style="border:0;" height="75px" width="75px">
              </a>
            </span>
            <div>
              2021 Season &mdash; <strong>NR</strong><br>
              <small>
                (3-9 &bull; 2-6 MWC/5<sup>th</sup> Mountain)<br><br>
                Last &mdash; L (10-52) at Nevada
              </small>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="item">
          <h4 class="item-heading">Some Other Places to Find Me</h4>
          <div class="text-center">
            <a class="twitter-timeline" href="https://twitter.com/DanJSum" data-height="300">Tweets by DanJSum</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <br><br>
            <a href="https://www.facebook.com/daniel.j.summers" title="Daniel J. Summers&rsquo;s Facebook profile">
              <img src="https://badge.facebook.com/badge/1270539383.37.619606444.png" style="border:0;"
                   alt="Daniel J. Summers&rsquo;s Facebook profile">
            </a>
          </div>
        </div>
      </div>
    </footer>
    <footer class="part-3">
      <div class="pull-left">
        <a rel="license noopener" href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
          <img src="https://licensebuttons.net/l/by-nc/4.0/88x31.png" alt="Creative Commons License"
               style="border-width:0;">
        </a>
      </div>
      <div class="copy" hx-boost="false">
        &nbsp; Licensed by the
        <a rel="license noopener" href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
          Creative Commons Attribution-NonCommercial 4.0 International License
        </a><br>
        &nbsp; Designed by
        <a href="https://bitbadger.solutions" title="Building the site you need to ensure your success!">
          Bit Badger Solutions
        </a>
        &bull; Powered by <a href="https://github.com/bit-badger/myWebLog/tree/v2">myWebLog</a> &bull;
        {% if logged_on %}
          <a href="{{ "admin/dashboard" | relative_link }}">Dashboard</a>
        {% else %}
          <a href="{{ "user/log-on" | relative_link }}">Log On</a>
        {%- endif %}
      </div>
    </footer>
    {% page_foot %}
  </body>
</html>
