@model PageListModel
@{
    Layout = "_AdminLayout";
    ViewBag.Title = Resources.Pages;
}
<article class="container">
  <a asp-action="Edit" asp-route-id="new" class="btn btn-primary btn-sm my-3">@Resources.CreateANewPage</a>
  <table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">@Resources.Actions</th>
        <th scope="col">@Resources.Title</th>
        <th scope="col">@Resources.InListQuestion</th>
        <th scope="col">@Resources.LastUpdated</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var pg in Model.Pages)
      {
        <tr>
          <td>
            <a asp-action="Edit" asp-route-id="@pg.Id">@Resources.Edit</a>
          </td>
          <td>
            @pg.Title
            @if (pg.Id == Model.WebLog.DefaultPage)
            {
              <text> &nbsp; </text><span class="badge bg-success">HOME PAGE</span>
            }
          </td>
          <td><yes-no asp-for="pg.ShowInPageList" /></td>
          <td>@pg.UpdatedOn.ToString(Resources.DateFormatString)</td>
        </tr>
      }
    </tbody>
  </table>
</article>
