@model MyWebLogModel
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="generator" content="myWebLog @ViewBag.Version">
  <title>@ViewBag.Title &laquo; @Model.WebLog.Name</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Raleway">
  <link rel="stylesheet" asp-theme="@Model.WebLog.ThemePath" />
  <link rel="icon" asp-theme="@Model.WebLog.ThemePath" />
</head>
<body>
  <header class="site-header">
    <div class="header-logo">
      <a href="/">
        <img asp-theme="@Model.WebLog.ThemePath" src="bitbadger.png"
             alt="A cartoon badger looking at a computer screen, with his paw on a mouse"
             title="Bit Badger Solutions" />
      </a>
    </div>
    <div class="header-title">
      <a href="/">Bit Badger Solutions</a>
    </div>
    <div class="header-spacer">
      &nbsp;
    </div>
    <div class="header-social">
      <a href="https://twitter.com/Bit_Badger" title="Bit_Badger on Twitter" target="_blank">
        <img asp-theme="@Model.WebLog.ThemePath" src="twitter.png" alt="Twitter" />
      </a>&nbsp; &nbsp;<a href="https://www.facebook.com/bitbadger.solutions" title="Bit Badger Solutions on Facebook" _target="_blank">
        <img asp-theme="@Model.WebLog.ThemePath" src="facebook.png" alt="Facebook" />
      </a>
    </div>
  </header>
  <main>
    @RenderBody()
  </main>
  <footer class="site-footer">
    <p>
      Powered by <strong><a href="#">myWebLog</a></strong> &bull;
      @if (User is not null && (User.Identity?.IsAuthenticated ?? false))
      {
        <a href="/admin">@Resources.Dashboard</a>
      }
      else
      {
        <a href="/user/log-on">@Resources.LogOn</a>
      }
    </p>
    <p>
      A <strong><a href="/">Bit Badger Solutions</a></strong> original design
    </p>
  </footer>
</body>
</html>
